body {
    margin:0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

    li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#myCanvasHD {
    position: absolute;
    border:0px solid #d3d3d3;
    width: 100%;
}